.satu {
	width: 200px;
	height: 200px;
	background-color: lightgreen;
/*	margin-left: 50px;
	margin-bottom: 150px;
	margin-top: 30px;
	margin-right: 100px;*/

	/*margin shorthand
		margin :10px(top) 20px(right) 30px(bottom) 40px(left);
	
	margin auto 
	margin-right :auto;
	margin-left :auto;
	*/
}

.dua {

	width: 100px;
	height: 100px;
	background-color: red;
}

.tiga {
	width: 50px;
	height: 50px;
	background-color: orange;
}

div {
	width: 600px;
	background-color: red;
	margin : 50px auto;
	/*padding adalah box transparan untuk memberikan jarak content dengan box*/
	padding: 10px;
	/*border berfungi untuk membuat border di content yang di buat
	ada style di border yang dapat digunakan solid, double, dotted, dashed*/
	border: 5px solid blue;
	/*box-sizing berfungsi untuk membuat lebar box tatap separti yang di inputkan*/
	box-sizing: border-box;

}